header {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
}

::deep .menu-icon {
    width: 25px;
    margin: 15px;
    fill: #bbbbbb;
    font-size: 1.5rem;
    line-height: 0.5em;
    text-align: center;
    color: #bbbbbb;
}


