.menu-icon {
    width: 24px;
    height: 24px;
}
    ::deep.menu-icon.active > svg > path{
        fill: #429ebd !important;
        cursor:default;
    }
::deep.menu-icon.inactive > a > svg > path {
    fill: #bbbbbb !important;
    cursor: pointer;
}