footer {
    background-color: #f8f9fa;
    text-align: center;
    position: sticky;
    padding: 10px;
    bottom: 0;
}
.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-height: 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gainsboro;
    padding: 0 20px 0 20px;
    margin: 0 10px 10px 10px;
}


