.footer {
    width: 100%;

}
.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-height: 60px;
    margin: 10px 20px 90px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gainsboro;
    padding:0 20px 0 20px;
}


