.menu-icon {
    width: 24px;
    height: 24px;
}
    .menu-icon.active {
        fill: #429ebd !important;
        cursor:default;
    }
    .menu-icon.inactive {
        fill: #bbbbbb !important;
        cursor: pointer;
    }

