@page "/game"
@inject Game game
@inject NavigationManager navigatioinManager
<HeaderComponent>
    <div class="menu-icon">
        <i class="codicon codicon-menu"></i>
    </div>
</HeaderComponent>
<main class="px-3 pt-3">
     @if (game.IsSetup)
    {
        <div class="d-flex flex-row flex-wrap gap-1">
            @foreach(var player in game.Players)
            {
                <button type="button" class="btn btn-primary position-relative me-1 flex-fill">
                    @player.Name <span class="badge bg-secondary">@player.Score</span>
                    @if(game.CurrentPlayer == player)
                    {
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">کاربر فعلی</span>
                        </span>
                    }
                </button>
            }
        </div>        
         <div class="pt-3">
            @if (!game.IsGameOver)
            {
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-secondary text-white">سئوال</div>
                            <div class="card-body">
                                <p class="p-3 text-justify">@game.GetCurrentQuestion.Text</p>
                            </div>
                            <div class="card-body d-grid">
                                <button class="btn btn-primary btn-lg" @onclick="ShowAnswer">نمایش پاسخ</button>
                                @*                                 <EditForm Model="question" OnSubmit="ShowAnswer">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">جواب:</span>
                                        <InputText @bind-Value="question.Answer" class="form-control" placeholder="" aria-label="question" aria-describedby="button-submit" />
                                        <button class="btn btn-outline-secondary" type="submit" id="button-submit">ارسال</button>
                                    </div>
                                </EditForm> *@
                            </div>
                            @if (isAnswered)
                            {
                                <div class="card-footer pb-3 pt-3">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">پاسخ درست:</span>
                                        <div class="form-control">@game.GetCurrentQuestion.Answer از صفات بارز وی بود</div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <div class="btn-group" role="group mt-3 mb-3">
                                            <button class="btn btn-success" type="submit" id="button-submit" @onclick="() => {game.SubmitAnswer(game.GetCurrentQuestion.Answer); isAnswered = false;}">پاسخ بازیکن درست است</button>
                                            <button class="btn btn-danger" type="submit" id="button-submit" @onclick="()=> {game.SubmitAnswer(string.Empty); isAnswered = false;}">پاسخ بازیکن غلط است</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div> 
    }
</main>
@code {
    private Question question = new Question();
    private bool isAnswered = false;
    private void ShowAnswer()
    {
        isAnswered = true;
    }
    protected override void OnInitialized()
    {
        if(!game.IsSetup)
        {
            navigatioinManager.NavigateTo("/config-game");
        }
        base.OnInitialized();
    }
}
