<div class="list-container">
    <div class="card-item">صفات بارز وی</div>
    <div class="card-item">میدونی</div>
    <div class="card-item"></div>
    <div class="card-item"></div>
    <div class="card-item"></div>
    <div class="card-item"></div>
    <div class="card-item"></div>
    <div class="card-item"></div>
    <div class="card-item"></div>
    <div class="card-item"></div>
</div>

@code {

}
