@using Habits.MobileUI.Components.Footer
<FooterComponent ActiveItem="@ActiveItem">
    <FooterItemComponent href="/" Name="Home">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 243.48"><title>Untitled-1</title><path d="M256,114.71v7c-3.65,7.25-9.55,10-17.54,9.24-4.41-.4-8.89-.07-13.92-.07v6.38q0,47.72,0,95.44c0,8.43-2.33,10.75-10.66,10.76q-28.23,0-56.46,0c-8.67,0-10.87-2.23-10.89-11q0-27.24,0-54.47v-5.39h-37c0,20.26,0,40.06,0,59.86,0,8.78-2.22,11-10.89,11q-27.73,0-55.47,0c-9.67,0-11.65-2-11.66-11.77q0-47.47,0-94.94c0-1.91-.21-3.82-.33-5.88-4.94,0-9.29-.33-13.58.07-8,.75-13.89-2-17.54-9.24v-7c2.19-2.88,4-6.17,6.63-8.58Q43.8,72,81.21,38c12.32-11.22,24.58-22.51,37-33.64,6.61-5.93,12.88-5.8,19.62,0,1.27,1.08,2.47,2.24,3.7,3.36q53.4,48.68,106.73,97.39C251.25,107.88,253.44,111.5,256,114.71Z" /><path d="M230,67.86,172.27,15.3c2.37-.16,3.62-.32,4.88-.32,14.3,0,28.61-.05,42.92,0,7.41,0,9.94,2.58,10,9.87C230.05,38.77,230,52.68,230,67.86Z" /></svg>

    </FooterItemComponent>
    <FooterItemComponent href="/notification" Name="Notification">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 213.15 256"><title>Untitled-1</title><path d="M109.33,0c6.91,3,8.68,8.72,7.88,15.6-.53,4.6.6,6.71,5.88,7.85,33.19,7.13,57.42,37,58.09,71,.2,10,.11,20,0,30-.14,21.91,8,40.2,24.12,54.9,6,5.44,9.29,11.66,7.13,19.93s-8.77,13.74-17.34,13.89c-11.33.21-22.67.09-34,.09q-70.48,0-141,0c-13.48,0-22.31-9.64-19.72-22a20.77,20.77,0,0,1,6-10.53c17.93-16.09,25.86-36.07,25.49-60-.19-12.79-.47-25.79,1.49-38.36,4.59-29.39,28.08-53.15,57.2-59,4.63-.94,5.62-2.85,5.23-6.9-.66-6.84.39-13,7.47-16.36Z" /><path d="M100.33,256c-10.34-2.77-19.76-7.19-25.89-16.37-3-4.58-5.18-9.78-8.1-15.43H145c-.47,11.23-12.08,25.53-26.17,29.84-1.85.56-3.66,1.3-5.49,2Z" /></svg>
    </FooterItemComponent>
    <FooterItemComponent href="/settings" Name="Settings">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.07 227.34"><title>Untitled-1</title><path d="M37.58,194.82c.62-2.22,1.08-4.5,1.9-6.65,7.37-19.31-3.06-38.62-23.17-42.82C4.07,142.79.68,139.69.16,127.08A282.43,282.43,0,0,1,1.25,92.8c.64-7.88,5.29-11.86,13.25-13.32,22.06-4,32.58-21.48,25.83-42.85C38.05,29.4,39.46,23,45.8,19A341.5,341.5,0,0,1,76.59,1.76C83.8-1.78,89.49.18,94.9,6.2c13.9,15.48,34.55,15.49,48.43,0,5.42-6,10.8-7.42,18.36-4.6A115,115,0,0,1,194.8,20.8c5.8,4.78,7.45,10.59,5.15,17.83-6.23,19.62,3.92,37.31,24,41.66,7.85,1.69,12,6,13.42,13.93A107.43,107.43,0,0,1,237,134c-1.51,7.7-6.85,11.18-14.28,12.59-13.46,2.57-22.17,10.79-24.8,24.14-1.07,5.44-.24,11.62,1.17,17.09,2.37,9.13,1.6,14.65-6.33,20A278,278,0,0,1,165,224.32c-7.85,4.08-13.82,2.22-19.5-4.45-14.14-16.59-36.37-16.25-49.95.77-5.33,6.67-10.94,8.24-19,5.24A117.46,117.46,0,0,1,44.23,207.3C40.25,204.11,37.68,200.23,37.58,194.82Zm81.19-41.1a40,40,0,1,0-39.64-40.34A40.06,40.06,0,0,0,118.77,153.72Z" /></svg>
    </FooterItemComponent>
</FooterComponent>
@code {
    [Parameter] public string ActiveItem { get; set; }
}
